.root {
  display: flex;
  flex-direction: row;

  .dragzone {
    width: 80%;

    .shareButton {
      position: relative;
      top: 20px;
      float: right;
      margin-right: 20px;
    }
  }

  ul{
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 5px;
    }
  }

  .selected {
    min-height: 300px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
  }

  .list {
    height: 400px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
  }
}